
.portfolio img{
    width: 250px;
    border-radius: 25px;
    

}
.portfolio-information{
    background-color: lightcyan;
    display: flex;
    border: 2px solid gray;
    border-radius: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 10px;
}
.portfolio-information p {
    font-size: 20px;
    font-weight: bold;
}